body {
  #grilla2 {
    padding: 1rem;
    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-template-columns: 12rem 1fr;
    min-height: 100vh;
    grid-gap: 1rem;
    grid-template-areas:
      "header header"
      "main main"
      "section section"
      "footer footer";
  }

  header {
    grid-area: header;
  }

  main {
    grid-area: main;
  }

  section {
    grid-area: section;
  }

  footer {
    grid-area: footer;
  }

  section {
    @mixin animecartas {
      border: 10px solid #212121;
      padding: 1rem;
      margin: 1rem;
    }
    @mixin tamanocarta {
      width: 200px;
      height: 350px;
    }
    @mixin letra {
      font-size: 1.2rem;
      text-align: center;
    }
    .row-comprod-1 {
      display: flex;

      .spi {
        @include animecartas;
      }
      .com1 {
        @include tamanocarta;
      }
      .black {
        @include animecartas;
      }

      .com2 {
        @include tamanocarta;
      }

      .batm {
        @include animecartas;
      }

      .com3 {
        @include tamanocarta;
      }

      .hul {
        @include animecartas;
      }

      .com4 {
        @include tamanocarta;
      }
      p {
        @include letra;
      }
    }
    .row-imaprod--2 {
      display: flex;
      .jok {
        @include animecartas;
      }
      .com5 {
        @include tamanocarta;
      }

      .spa {
        @include animecartas;
      }

      .com6 {
        @include tamanocarta;
      }

      .ww {
        @include animecartas;
      }

      .com7 {
        @include tamanocarta;
      }

      .martillo {
        @include animecartas;
      }

      .com8 {
        @include tamanocarta;
      }
      p {
        @include letra;
      }
    }
  }
  @media (max-width: 480px) {
    section {
      text-align: center;
      .row-comprod-1 {
        display: inline-block;
      }
      .row-imaprod--2 {
        display: inline-block;
      }
    }
  }
  @media (min-width: 1200px) {
    main {
      text-align: center;
    }
  }
}
