body {
  #grilla3 {
    padding: 1rem;
    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-template-columns: 12rem 1fr;
    min-height: 100vh;
    grid-gap: 1rem;
    grid-template-areas:
      "header header"
      "main main"
      "footer footer";
  }

  header {
    grid-area: header;
  }

  main {
    grid-area: main;
  }

  section {
    grid-area: section;
  }

  footer {
    grid-area: footer;
  }

  main {
    @mixin novecart {
      border: 10px solid #212121;
      padding: 1rem;
      margin: 1rem;
    }
    @mixin novetama {
      width: 200px;
      height: 350px;
    }
    @mixin novletra {
      font-size: 1.2rem;
      text-align: center;
    }
    .titul {
      h1 {
        text-align: center;
        font-size: 3rem;
      }
    }
    .container {
      .row-noveprod {
        text-align: center;
        .poke {
          @include novecart;
        }
        .nov1 {
          @include novetama;
        }

        .sei {
          @include novecart;
        }
        .nov2 {
          @include novetama;
        }

        .bruja {
          @include novecart;
        }
        .nov3 {
          @include novetama;
        }
        .venga {
          @include novecart;
        }
        .nov4 {
          @include novetama;
        }

        p {
          @include novletra;
        }
      }
      .row-noveprod--2 {
        text-align: center;
        .shum {
          @include novecart;
        }
        .nov5 {
          @include novetama;
        }

        .berse {
          @include novecart;
        }
        .nov6 {
          @include novetama;
        }

        .mus {
          @include novecart;
        }
        .nov7 {
          @include novetama;
        }
        .aqua {
          @include novecart;
        }
        .nov8 {
          @include novetama;
        }
        p {
          @include novletra;
        }
      }
    }
  }
}

@media (max-width: 480px) {
  main {
    .container {
      text-align: center;
      .row-noveprod {
        width: 70%;
        align-items: center;
        display: inline-block;
        img {
          max-width: 90%;
          max-height: 90%;
        }
      }
      .row-noveprod--2 {
        width: 70%;
        align-items: center;
        display: inline-block;
        img {
          max-width: 90%;
          max-height: 90%;
        }
      }
    }
  }
}
@media (min-width: 1200px) {
  main {
    .container {
      .row-noveprod {
        display: flex;
      }
      .row-noveprod--2 {
        display: flex;
      }
    }
  }
}
