@import "anime";
@import "comic";
@import "novedades";
@import "contacto";
* {
  margin: 0;
  padding: 0;
}
body {
  font-family: "Passion One", cursive !important;
  background-image: url("../imagenes/FONDOOO.jpg");
  background-size: 900%;

  #grilla {
    padding: 1rem;
    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-template-columns: 12rem 1fr;
    min-height: 100vh;
    grid-gap: 1rem;
    grid-template-areas:
      "header header"
      "main main"
      "footer footer";

    header {
      grid-area: header;
    }

    main {
      grid-area: main;
    }

    footer {
      grid-area: footer;
    }

    nav {
      grid-area: nav;
    }
  }

  header {
    padding: 0.5rem 0;
    position: sticky;
    top: 0;
    z-index: 2;
    background-color: #ffa420;

    .container {
      nav {
        .nav-item {
          margin-left: 10%;
          font-size: 30px;
        }
      }
    }
  }
  main {
    .container {
      .display-2--intro {
        text-align: center;
        font-size: 3.5rem;
      }
      .display-2-description {
        font-size: 2rem;
      }
      .sub-titulo {
        font-size: 2.5rem;
        margin: 1rem;
      }

      .productos-section {
        div {
          display: inline-block;
        }
        .MART {
          border: 10px solid #212121;
          margin: 1rem;
          padding: 1rem;
        }

        .HARLY {
          border: 10px solid #212121;
          margin: 1rem;
          padding: 1rem;
          h3 {
            font-size: 23px;
          }
        }

        .SAKURA {
          border: 10px solid #212121;
          margin: 1rem;
          padding: 1rem;

          h4 {
            font-size: 23px;
          }
        }

        .BAT {
          border: 10px solid #212121;
          margin: 1rem;
          padding: 1rem;
          h5 {
            font-size: 23px;
          }
        }
        p {
          font-size: 25px;
        }
      }
    }
  }

  footer {
    div {
      font-size: 20px;
      color: aliceblue;
      background-color: #212121;
      text-align: center;
    }
  }
}

@media (max-width: 480px) {
  header {
    .clase img {
      max-width: 40%;
      margin-left: 1rem;
    }
  }
  main {
    .container {
      .productos-section {
        img {
          width: 60%;
        }
      }
    }
  }
}
@media (min-width: 1200px) {
  .container {
    .clase img {
      max-width: 20%;
    }
  }
}
